@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px !important;
}
body {
  zoom: 0.9;
}
.grid {
  gap: 10px !important;
}
.grid > div {
  padding: 10px !important;
}
.grid > div h3 {
  font-size: 14px !important;
}
.grid > div p {
  font-size: 12px !important;
}

@media (max-width: 640px) {
  html {
    font-size: 10px !important;
  }
  body {
    zoom: 0.8;
  }
}